/* Aula inicial :D */
body {
  background-image: url("https://cdn.brandfolder.io/EVFU9RD7/at/q86e1k-8tnmvc-1gipaz/Topography_-_Zoom_Background.jpg");
  /* 100vh a imagem se ajustará ao tamanho da tela e o auto mantem a proporção do eixo horizontal */
  back-ground-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
  color: whitesmoke;
}

.menu ul {
  /* Exibir: um ao lado do outro */
  display: flex;
  /* justify-content só funciona junto com o display: flex */
  justify-content:space-around;
}

.menu {
  background-color: white;
}

.menu li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color: witesmoke;
  text-align: center;
}

.site-subtitle {
  font-style: italic;
}